<div
  id="toast-top-left-success"
  class="hidden fixed items-center w-full max-w-xs p-4 space-x-4 text-black bg-white divide-x divide-green-200 rounded-lg shadow top-5 left-5 dark:text-white dark:divide-green-700 space-x dark:bg-green-800"
  role="alert">
  <div
    class="text-[16px] font-bold"
    id="text-cartel-success">
    {""}
  </div>
</div>

<div
  id="toast-top-left-error"
  class="hidden fixed items-center w-full max-w-xs p-4 space-x-4 text-black bg-white divide-x divide-red-200 rounded-lg shadow top-5 left-5 dark:text-white dark:divide-red-700 space-x dark:bg-red-800"
  role="alert">
  <div
    class="text-[16px] font-bold"
    id="text-cartel-error">
    {""}
  </div>
</div>
