---
import Layout from "../layouts/Layout.astro";
import Server from "../components/server.astro";
import NavBar from "../components/navBar.astro";
---

<Layout>
  <main class="w-screem">
    <NavBar />
    <div class="w-full flex flex-col items-center">
      <Server />
    </div>
  </main>
</Layout>
