---
import Respuesta from "./respuestas.astro"
import FormNewBranch from "./formNewBranch.astro";
---

<FormNewBranch />
<main
  class="h-[80px] md:h-[120px] w-full hidden md:flex flex-col justify-center items-center">
  <div class="flex items-center w-[95%] md:w-[80%] gap-5 md:gap-2 py-5 md:py-0">
    <div class="w-[50px] md:w-[10%] md:flex justify-center items-center">
      <img
        src="/cloud.svg"
        class="h-[50px] w-[50px]"
        alt="nube"
      />
    </div>
    <div>
      <h1 class="font-bold text-[20px]">
        All Back Up automatically implemented on an external server
      </h1>
    </div>
  </div>
</main>
<Respuesta client:load />
